.hero {
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;

  color: inherit;
}

.hero p {
  font-size: 20px;
  max-width: 700px;

  margin-bottom: 20px;

  color: inherit;

  line-height: 1.6;
}

.hero button {
  padding: 12px 24px;
  font-size: 16px;

  border: none;

  background-color: black;
  color: white;

  border-radius: 8px;

  cursor: pointer;

  transition: 0.3s;
}

.hero button:hover {
  background-color: gray;
  transform: scale(1.05);
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero button {
    width: 100%;
    max-width: 250px;
  }

}