.skills {
  padding: 80px 20px;

  text-align: center;
}

.skills h2 {
  font-size: 40px;
  margin-bottom: 40px;

  color: inherit;
}

.skills-container {
  display: flex;
  justify-content: center;

  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  padding: 12px 24px;

  background-color: black;
  color: white;

  border-radius: 30px;

  transition: 0.3s;
}

.skill-card:hover {
  transform: scale(1.1);
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .skills h2 {
    font-size: 32px;
  }

  .skills-container {
    gap: 14px;
  }

  .skill-card {
    padding: 10px 18px;
    font-size: 14px;
  }

}